/node_modules
/public/hot
/public/storage
/public/media/*
/public/media/*.bkp/*
/public/media/uploads/*
/storage/*.key
/storage/*.ppk
/storage/resources/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
